.banner
   figure.banner__img
      img.banner__desktop(src="./img/banner1x.jpg", alt="Imagen principal del sitio")
      img.banner__mobile(src="./img/banner-mobile.jpg", alt="Imagen principal del sitio")
   
   .u-container
         
      a.banner__scroll(href="#que-hacemos").animated.bounce
         span.banner__scroll-text Scroll down
         span.banner__scroll-flecha.icon-down
            
      .banner__info.wow.slideInRight
         h1.banner__saludo Bienvenidos, te presentamos
            span.banner__saludo-destacado "aCambio"
         .banner__slider
            .owl-carousel.owl-frases
               .item
                  h2.banner__slider-frase Una nueva forma de hacer negocios
               .item
                  h2.banner__slider-frase Redes empresariales colaborativas
               .item
                  h2.banner__slider-frase Empresas que compran y venden sin dinero
         a.boton.banner__boton.waves-effect(href="javascript:;") Quiero saber más
