.banner#banner
   figure.banner__img
      img.banner__desktop(src="./img/test-02.jpg", alt="Imagen principal del sitio")
      img.banner__mobile(src="./img/banner-mobile.jpg", alt="Imagen principal del sitio")
   
   .u-container      
      .banner__info.wow.slideInLeft
         h1.banner__saludo Bienvenidos a SP Consultores 
         .banner__slider
            .owl-carousel.owl-frases
               .item
                  h2.banner__slider-frase Asesorias 
                     span Contables
               .item
                  h2.banner__slider-frase Asesorias 
                     span Laborales
               .item
                  h2.banner__slider-frase Asesorias 
                     span Tributarias
               .item
                  h2.banner__slider-frase Corretaje de 
                     span propiedades
         a.boton.banner__boton.waves-effect(href="javascript:;") Quiero ser cliente
