section#beneficios.beneficios
   .u-container
      .row
         .col.s12
            article.titulo.titulo--center.wow.fadeIn
               h2.titulo__name Beneficios
               p.titulo__detalle “Una  buena experiencia es el reflejo de un gran trabajo” 
         .col.s12.m4
            article.beneficio.wow.fadeIn(data-wow-delay=".1s")
               figure.beneficio__foto
                  a.beneficio__link(data-fancybox="beneficios" href="./img/ben-01.jpg")
                     img(src="./img/ben-01.jpg", alt="Imagen de acceso a beneficios")
               h3.beneficio__titulo Equipo profesional
               p.beneficio__detalle Somos un equipo de profesionales con amplia experiencia trabajando en diferentes sectores económicos.
         .col.s12.m4
            article.beneficio.wow.fadeIn(data-wow-delay=".3s")
               figure.beneficio__foto
                  a.beneficio__link(data-fancybox="beneficios" href="./img/ben-02.jpg")
                     img(src="./img/ben-02.jpg", alt="Imagen de acceso a beneficios")
               h3.beneficio__titulo Seguridad y confianza
               p.beneficio__detalle Podrás descanzar en nosotros y dedicar tu atención en otros temas, con la seguidad que todo está bien
         .col.s12.m4
            article.beneficio.wow.fadeIn(data-wow-delay=".5s")
               figure.beneficio__foto
                  a.beneficio__link(data-fancybox="beneficios" href="./img/ben-03.jpg")
                     img(src="./img/ben-03.jpg", alt="Imagen de acceso a beneficios")
               h3.beneficio__titulo Asesoria permanente
               p.beneficio__detalle Constantemente haremos entrega de informes y una completa asesoria para todas las dudas que puedas tener.
         .col.s12.center-align
            a.boton.waves-effect(href="javascript:;") Quiero saber más.
