section#beneficios.beneficios
   .u-container
      .row
         .col.s12
            article.titulo.titulo--center.wow.fadeIn
               h2.titulo__name Beneficios
               p.titulo__detalle “Una  buena experiencia es el reflejo de un gran trabajo” 
         .col.s12.m4
            article.beneficio.wow.fadeIn(data-wow-delay=".1s")
               figure.beneficio__foto
                  a.beneficio__link(data-fancybox="beneficios" href="img/beneficios-accesos-full.jpg")
                     img(src="./img/beneficios-accesos.jpg", alt="Imagen de acceso a beneficios")
               h3.beneficio__titulo Acceso a recursos
               p.beneficio__detalle Una alternativa innovadora y colaborativa al financiamiento empresarial.
         .col.s12.m4
            article.beneficio.wow.fadeIn(data-wow-delay=".3s")
               figure.beneficio__foto
                  a.beneficio__link(data-fancybox="beneficios" href="img/beneficios-optimizacion-full.jpg")
                     img(src="./img/beneficios-optimizacion.jpg", alt="Imagen de acceso a beneficios")
               h3.beneficio__titulo Optimización de recursos
               p.beneficio__detalle Mejor gestión de recursos existentes
         .col.s12.m4
            article.beneficio.wow.fadeIn(data-wow-delay=".5s")
               figure.beneficio__foto
                  a.beneficio__link(data-fancybox="beneficios" href="img/beneficios-networking-full.jpg")
                     img(src="./img/beneficios-networking.jpg", alt="Imagen de acceso a beneficios")
               h3.beneficio__titulo Networking
               p.beneficio__detalle Utiliza la red como un canal de ventas y marketing complementario para generar nuevas oportunidades.
         .col.s12.center-align
            a.boton.waves-effect(href="javascript:;") Quiero saber más
