section#como-funciona.como-funciona
   .u-container
      .row
         .col.s12
            article.titulo.titulo--center.wow.fadeIn
               h2.titulo__name Servicios y Outsourcing
         .col.s12.m6.l5
            .paso.wow.slideInLeft
               span.paso__icon.icon-add_user
               .paso__info
                  h3.paso__titulo 1 / Asesorias Contables
                  ul.paso__lista
                     li.paso__item Iniciación de actividades
                     li.paso__item Libros de contabilidad
                     li.paso__item Tramites en el SII
                     li.paso__item Termino de giro
                     li.paso__item Balance general
                     li.paso__item Estado de resultados
                     li.paso__item Asesoría contable integral
                  //p.paso__detalle Llena el formulario de contacto. Se te asignará una “Línea de Crédito aCambio” con la cual ya podrás empezar a comprar al resto de las empresas de la red.
                  a.paso__boton.boton.waves-effect(href="javascript:;") Quiero ser cliente
         .col.s12.m6.l5.offset-l2
            .paso.wow.slideInRight(data-wow-delay=".3s")
               span.paso__icon.icon-add_user
               .paso__info
                  h3.paso__titulo 2 / Asesorias Laborales
                  ul.paso__lista
                     li.paso__item Contratos de trabajo
                     li.paso__item Confecciones de finiquitos
                     li.paso__item Liquidaciones de sueldo
                     li.paso__item Finiquitos
                     li.paso__item Imposiciones
                     li.paso__item Tramites en la inspección del trabajo
                     li.paso__item Consultoría laboral
                  //p.paso__detalle Así como en las tiendas electrónicas a las que estás acostumbrado, puedes navegar y/o buscar los productos y servicios que necesites comprar para tu empresa.
                  a.paso__boton.boton.waves-effect(href="javascript:;") Quiero ser cliente
         .u-clear
         .col.s12.m6.l5
            .paso.wow.slideInLeft(data-wow-delay=".3s")
               span.paso__icon.icon-add_user
               .paso__info
                  h3.paso__titulo 3 / Asesorias Tributarias
                  ul.paso__lista
                     li.paso__item Declaración de impuestos mensuales
                     li.paso__item Declaración de impuestos a la renta
                     li.paso__item Declaraciones juradas
                     li.paso__item Emisión de certificados
                     li.paso__item Rectificatorias de IVA
                     li.paso__item Beneficios tributarios según contribuyente
                     li.paso__item Tramites en el SII y tesorería general de la República
                     li.paso__item Asesoria en todo tipo de tramites tributarios
                  //p.paso__detalle Compra todo lo que necesites, una vez seleccionado el producto o servicio, paga al vendedor el precio acordado desde tu “Línea de Crédito aCambio”.
                  a.paso__boton.boton.waves-effect(href="javascript:;") Quiero ser cliente
         .col.s12.m6.l5.offset-l2
            .paso.wow.slideInRight(data-wow-delay=".5s")
               span.paso__icon.icon-add_user
               .paso__info
                  h3.paso__titulo 4 / Corretaje de Propiedades
                  ul.paso__lista
                     li.paso__item Compra venta y arriendo de propiedades inductriales, habitacionales y comerciales
                     li.paso__item Administración de propiedades
                     li.paso__item Regularización de propiedades ( Municipal )
                     li.paso__item Tasaciones
                     li.paso__item Posesiones efectivas
                     li.paso__item Gestión de créditos hipotecarios, mutuo hipotecario, etc ..
                     li.paso__item Iniciación de actividades
                  //p.paso__detalle Cuando alguien necesite tus productos o servicios exhibidos en la tienda electrónica, véndelo y se abonará a tu “Línea de Crédito aCambio”. 
                  a.paso__boton.boton.waves-effect(href="javascript:;") Quiero ser cliente
