section#como-funciona.como-funciona
   .u-container
      .row
         .col.s12
            article.titulo.titulo--center.wow.fadeIn
               h2.titulo__name ¿Cómo funciona aCambio?
         .col.s12.m6.l5
            .paso.wow.slideInLeft
               span.paso__icon.icon-add_user
               .paso__info
                  h3.paso__titulo 1 / Crea tu cuenta
                  p.paso__detalle Llena el formulario de contacto. Se te asignará una “Línea de Crédito aCambio” con la cual ya podrás empezar a comprar al resto de las empresas de la red.
                  a.paso__boton.boton.waves-effect(href="javascript:;") Ver demostración
         .col.s12.m6.l5.offset-l2
            .paso.wow.slideInRight(data-wow-delay=".3s")
               span.paso__icon.icon-mapa
               .paso__info
                  h3.paso__titulo 2 / Navega y búsca
                  p.paso__detalle Así como en las tiendas electrónicas a las que estás acostumbrado, puedes navegar y/o buscar los productos y servicios que necesites comprar para tu empresa.
                  a.paso__boton.boton.waves-effect(href="javascript:;") Ver demostración
         .col.s12.m6.l5
            .paso.wow.slideInLeft(data-wow-delay=".3s")
               span.paso__icon.icon-compras
               .paso__info
                  h3.paso__titulo 3 / Haz tus compras
                  p.paso__detalle Compra todo lo que necesites, una vez seleccionado el producto o servicio, paga al vendedor el precio acordado desde tu “Línea de Crédito aCambio”.
                  a.paso__boton.boton.waves-effect(href="javascript:;") Ver demostración
         .col.s12.m6.l5.offset-l2
            .paso.wow.slideInRight(data-wow-delay=".5s")
               span.paso__icon.icon-ventas
               .paso__info
                  h3.paso__titulo 4 / Realiza tus ventas
                  p.paso__detalle Cuando alguien necesite tus productos o servicios exhibidos en la tienda electrónica, véndelo y se abonará a tu “Línea de Crédito aCambio”. 
                  a.paso__boton.boton.waves-effect(href="javascript:;") Ver demostración
