footer.footer
   .u-container
      .row
         .col.s3
            ul.footer__menu
               h3.footer__menu-titulo SP Consultores
               li.footer__item
                  a.footer__link(href="javascript:;") Inicio
               li.footer__item
                  a.footer__link(href="javascript:;") Servicios y Outsourcing
               li.footer__item
                  a.footer__link(href="javascript:;") Quienes somos
               li.footer__item
                  a.footer__link(href="javascript:;") Clientes
               li.footer__item
                  a.footer__link(href="javascript:;") Contacto
         .col.s3
            ul.footer__menu
               h3.footer__menu-titulo Contacto
               li.footer__item
                  a.footer__link(href="javascript:;") spuchi@sergiopuchi.cl
               li.footer__item
                  a.footer__link(href="javascript:;") contacto@sergiopuchi.cl
               li.footer__item
                  a.footer__link(href="javascript:;") +569 9507 6699
               li.footer__item
                  a.footer__link(href="javascript:;") +569 9507 6699
               li.footer__item
                  a.footer__link(href="javascript:;") Camino el bajo #202, Melipilla
         .col.s12.m6.u-right
            figure.footer__logotipo
               img(src="./img/isotipo-canete.png", alt="Logotipo Cañete y Puchi")
   .footer__copy
      .u-container
         .row.u-resetRow
            .col.s12.m8
               p.footer__legal  ©2018 SP Consultores SPA. Todos los derechos reservados.
            .col.s12.m4
               .footer__social
                  a.footer__social-icon.icon-Facebook(href="javascript:;")
                  a.footer__social-icon.icon-Twitter(href="javascript:;")
                  a.footer__social-icon.icon-linkedin(href="javascript:;")
               
script(src="./lib/jquery/dist/jquery.min.js")
script(src="./lib/materialize-css/dist/js/materialize.min.js")
script(src="./lib/owl.carousel/dist/owl.carousel.min.js")
script(src="./lib/fancybox/dist/jquery.fancybox.min.js")
script(src="./lib/wow.min.js")
script(src="./js/main.js")
