footer.footer
   .u-container
      .row
         .col.s3
            ul.footer__menu
               h3.footer__menu-titulo Acambio
               li.footer__item
                  a.footer__link(href="javascript:;") ¿Qué hacemos?
               li.footer__item
                  a.footer__link(href="javascript:;") ¿Cómo funciona?
               li.footer__item
                  a.footer__link(href="javascript:;") ¿Quiénes solos?
               li.footer__item
                  a.footer__link(href="javascript:;") Colaboradores
               li.footer__item
                  a.footer__link(href="javascript:;") Blog
               li.footer__item
                  a.footer__link(href="javascript:;") Contacto
         .col.s3
            ul.footer__menu
               h3.footer__menu-titulo Contacto
               li.footer__item
                  a.footer__link(href="javascript:;") correo@acambio.cl
               li.footer__item
                  a.footer__link(href="javascript:;") correo@acambio.cl
               li.footer__item
                  a.footer__link(href="javascript:;") +569 555 5555
               li.footer__item
                  a.footer__link(href="javascript:;") +569 555 5555
               li.footer__item
                  a.footer__link(href="javascript:;") +569 555 5555
         .col.s12.m6.u-right
            figure.footer__logotipo
               img(src="./img/logotipo-corfo.png", alt="Logotipo Corfo")
            figure.footer__logotipo
               img(src="./img/logotipo-magical.png", alt="Logotipo Corfo")
   .footer__copy
      .u-container
         .row.u-resetRow
            .col.s12.m8
               p.footer__legal  ©2017 acambio SPA. Todos los derechos reservados.
            .col.s12.m4
               .footer__social
                  a.footer__social-icon.icon-Facebook(href="javascript:;")
                  a.footer__social-icon.icon-Twitter(href="javascript:;")
                  a.footer__social-icon.icon-linkedin(href="javascript:;")
                  a.footer__social-icon.icon-instagram(href="javascript:;")
               
   



script(src="./lib/jquery/dist/jquery.min.js")
script(src="./lib/materialize-css/dist/js/materialize.min.js")
script(src="./lib/owl.carousel/dist/owl.carousel.min.js")
script(src="./lib/fancybox/dist/jquery.fancybox.min.js")
script(src="./lib/wow.min.js")
script(src="./js/main.js")
