header.header
	.row.u-resetRow
		.col.s2
			figure.logotipo.header__logotipo
				img.logotipo__img(src="./img/logo-03.png", alt="Logotipo SP Consultores")

		.col.s10.u-right
			ul.header__menu.header__menu--mobile
				li.header__item
					a.header__link(href="#que-hacemos") Inicio
				li.header__item
					a.header__link(href="#como-funciona") Servicios y Outsourcing
				li.header__item
					a.header__link(href="#como-funciona") Quienes somos
				li.header__item
					a.header__link.header__link--active(href="#quienes-somos") Clientes
				li.header__item
					a.header__link(href="#quienes-pueden") Contacto

			//- a.header__usuario(href="javascript:;")
			//- 	span.header__usuario-border
			//- 	figure.header__usuario-foto
			//- 		img(src="./img/user.jpg", alt="Fotografica del usuario que ha iniciado sesión")


			.burger
				.burger__container
					.burger__stripe.burger__stripe--top
					.burger__stripe.burger__stripe--middle
					.burger__stripe.burger__stripe--bottom

//- ul.menuLateral
//- 	li.menuLateral--item.menuLateral--item__active#inicio
//- 		a.menuLateral--item--link(href="#que-hacemos") ¿Qué hacemos?
//- 	li.menuLateral--item#dispositivo
//- 		a.menuLateral--item--link(href="#como-funciona") ¿Cómo funciona?
//- 	li.menuLateral--item#app
//- 		a.menuLateral--item--link(href="#quienes-somos") ¿Quiénes somos?
//- 	li.menuLateral--item#equipo
//- 		a.menuLateral--item--link(href="#quienes-pueden") Colaboradores
//- 	li.menuLateral--item#patrocinadores
//- 		a.menuLateral--item--link(href="javascript:;") Blog
//- 	li.menuLateral--item#contacto
//- 		a.menuLateral--item--link(href="#contacto") Contacto
