header.header
	.row.u-resetRow
		.col.s2
			figure.logotipo.header__logotipo
				img.logotipo__img(src="./img/logotipo-canete.png", alt="Logotipo Cañete y Puchi")

		.col.s10.u-right
			ul.header__menu.header__menu--mobile
				li.header__item
					a.header__link(href="#banner") Inicio
				li.header__item
					a.header__link(href="#servicios") Servicios y Outsourcing
				li.header__item
					a.header__link(href="#quienes-somos") Quienes somos
				li.header__item
					a.header__link.header__link--active(href="#beneficios") Beneficios
				li.header__item
					a.header__link(href="#contacto") Contacto
					
			.burger
				.burger__container
					.burger__stripe.burger__stripe--top
					.burger__stripe.burger__stripe--middle
					.burger__stripe.burger__stripe--bottom
