section#que-hacemos.que-hacemos
   .u-container
      .row
         .col.s12.m6
            article.titulo.wow.slideInLeft
               h2.titulo__name ¿Qué hacemos?
               p.titulo__detalle Conectamos empresas de manera colaborativa en nuestra red. Nuestra plataforma les permite comprar y vender sus productos y servicios entre sí sin dinero de por medio, ayudándoles a generar importantes ahorros de liquidez y capital de trabajo.
            .testimonios.wow.slideInLeft(data-wow-delay="1s")
               .owl-carousel.owl-testimonios
                  .item
                     figure.testimonios__avatar
                        img(src="./img/user-twitter.jpg", alt="Fotografica del usuario que compartio su testimonio")
                     p.testimonios__text justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula.
                        span.testimonios__firma Nicolás Pavlov - Fundador Acambio
                  .item
                     figure.testimonios__avatar
                        img(src="./img/perfil-camilo.png", alt="Fotografica del usuario que compartio su testimonio")
                     p.testimonios__text Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra.
                        span.testimonios__firma Camilo Acuña - Fundador WiseGrowth
                  .item
                     figure.testimonios__avatar
                        img(src="./img/perfil-carlos.png", alt="Fotografica del usuario que compartio su testimonio")
                     p.testimonios__text ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate ege.
                        span.testimonios__firma Carlos Fuentes - Fundador Elefantes
         .col.s12.m6
            .video.wow.slideInRight
               span.presentacion--icon.icon-play
               video#video(src="video/video-test.mp4", poster="img/cover-video1x.jpg", controls)
