section#quienes-somos.quienes-somos
   .u-container
      .row
         .col.s12.m6
            article.titulo.wow.slideInLeft
               h2.titulo__name ¿Quiénes somos?
                  //span.titulo__icon.icon-emoticon
               p.titulo__detalle Somos un equipo de profesionales que hemos trabajado y desempeñado cargos a nivel administrativo y contable en diferentes sectores económicos, donde logramos potenciar nuestras capacidades, obteniendo de esta manera, experiencia laboral y académica, para el desarrollo de funciones que conllevan a la evolución de las empresas y al nuestro propio.
            article.titulo.wow.slideInLeft(data-wow-delay=".3s")
               //h2.titulo__name ¿Porqué lo hacemos?
                  //span.titulo__icon.icon-corazon
               p.titulo__detalle Estamos dedicados a la asesoria de la pequeña y mediana empresa, PYME, asesorando en las áreas administrativas, Financiera, Contable, Laboral e Impuestos.
   figure.equipo.wow.slideInRight(data-wow-delay=".5s")
      img(src="./img/bg-test-02.png", alt="Fotografia de un profesional pensando")
