section#quienes-pueden.quienes-pueden
   .u-container
      .row
         .col.s12
            article.titulo.titulo--center.wow.fadeIn
               h2.titulo__name ¿Quiénes pueden en aCambio?
               p.titulo__detalle Profesionales y/o empresas formalizadas de todos los rubros que cumplan al menos una de estas tres condiciones:
      .destacados
         article.destacados__item.wow.fadeIn(data-wow-delay=".1s")
            span.destacados__icon.icon-tea
            p.destacados__text Empresas con importante capacidad ociosa
         article.destacados__item.wow.fadeIn(data-wow-delay=".3s")
            span.destacados__icon.icon-pie_chart
            p.destacados__text Empresas cuyo costo marginal de un nuevo producto es bajo.
         article.destacados__item.wow.fadeIn(data-wow-delay=".5s")
            span.destacados__icon.icon-line_chart
            p.destacados__text Empresas que operan con grandes margenes.
