section#quienes-somos.quienes-somos
   .u-container
      .row
         .col.s12.m6
            article.titulo.wow.slideInLeft
               h2.titulo__name ¿Quiénes somos?
                  span.titulo__icon.icon-emoticon
               p.titulo__detalle aCambio somos un grupo de personas que creemos en la colaboración como la forma de desarrollar relaciones más humanas en el ámbito de los negocios. aCambio, es una red de empresas que se ayudan entre sí, generando nuevas formas de acceder a recursos empresariales.
            article.titulo.wow.slideInLeft(data-wow-delay=".3s")
               h2.titulo__name ¿Porqué lo hacemos?
                  span.titulo__icon.icon-corazon
               p.titulo__detalle Nuestro propósito es ayudar a las personas, y la forma en que lo hacemos es a través del quehacer empresarial. Pensamos que las personas hacen empresas para cumplir con sus sueños y aspiraciones, y la forma en que queremos aportar es desarrollando redes basadas en la confianza y la colaboración, utilizando la tecnología para potenciar la inteligencia colectiva.
   figure.equipo.wow.slideInRight(data-wow-delay=".5s")
      img(src="./img/equipo1x.jpg", alt="Fotografia grupal del equipo aCambio")
