section.social
   .u-container
      figure.logotipo.header__logotipo
         img.logotipo__img(src="./img/logotipo-aCambio.png", alt="Logotipo aCambio")
      p.social__text Búscanos en redes sociales
      .social__accesos
         a.social__icon.icon-Facebook(href="javascript:;")
         a.social__icon.icon-Twitter(href="javascript:;")
         a.social__icon.icon-linkedin(href="javascript:;")
         a.social__icon.icon-instagram(href="javascript:;")
