.beneficios{
   padding: 7em 0;

   .boton{
      margin-top: 8em;
   }

   @media(max-width: 768px){
      padding-top: 0;

      .boton{
         margin-top: 6em;
      }
   }

}

/* Edita el background de los manejadores de la galeria */
.fancybox-container{
   button:focus {
      background-color: transparent !important;
      outline: none;
   }
}



.beneficio{
   margin-top: 1em;

   @media(max-width: 480px){
      margin-bottom: 2em;
   }

   &__link{
      overflow: hidden;
      position: relative;

      &:after{
         content: "\e90e";
         color: #fff;
         display: inline-block;
         @include font-size(30);
         font-family: 'icomoon';
         margin: 0 auto;
         position: absolute;
         right: 0;
         left: 0;
         top: 55%;
         top: calc(50% - 30px);
         text-align: center;
         transform: scale(0);
         transition: all .7s ease-in-out;
      }

      &:before{
         background-color: rgba(102,191,146,.1);
         content: '';
         display: inline-block;
         height: 100%;
         opacity: 0;
         position: absolute;
         transform: scale(0);
         transition: all .5s ease-in-out;
         width: 100%;
      }

      &:hover{

         &:after{
            transform: scale(1);
         }

         &:before{
            background-color: rgba(102,191,146,.7);
            filter: blur(50px);
            opacity: 1;
            transform: scale(1.5);
         }

      }
   }


   &__titulo{
      @extend .paso__titulo;
      color: $primary-color;
      margin: 1.5em 0 1em 0;
   }
   &__detalle{
      color: $text-color-medium;
      @include font-size(16);
      @include line-height(19);

      @media(max-width: 768px){
         @include font-size(14);
         @include line-height(17);
      }
   }
}
