.logotipo{
   display: inline-block;
   vertical-align: middle;
   width: 250px;
   position: relative;
   z-index: 20;

   @media(max-width: 480px){
      top: 5px;
      width: 150px;
   }
}


.boton{
   background-color: $secondary-color;
   border-radius: 25px;
   color: #fff;
   @include font-size(16);
   @include line-height(20);
   padding: .9em 2.5em;

   @media(max-width: 768px){
      @include font-size(14);
   }

   @media(max-width: 480px){
      @include font-size(12);
   }


}



button.boton{
   border: none !important;
}

.boton--defecto{
   background-color: #C2C2C2;
   &:hover, &:focus{
      background-color: darken(#C2C2C2, 5%) !important;
   }
}

.titulo{
   text-align: left;
   margin-bottom: 4em;

   &__name{
      color: #2f3133;
      @include font-size(36);
      @include line-height(44);
      font-weight: 300;
      margin: 0 0 1em 0;

      @media(max-width: 768px){
         @include font-size(28);
         @include line-height(36);
      }

      @media(max-width: 480px){
         @include font-size(20);
      }

      &:before{
         background-color: #874142;
         content: '';
         display: inline-block;
         height: 2px;
         margin: 0 .5em .2em 0;
         width: 40px;
      }
   }

   &__icon{
      color: $secondary-color;
      @include font-size(28);
      margin-left: 1em;
   }

   &__detalle{
      color: $text-color-medium;
      @include font-size(16);
      @include line-height(19);

      @media(max-width: 768px){
         @include font-size(14);
         @include line-height(16);
      }
   }
}


.titulo--center{
   text-align: center;

   .titulo__name{
      margin: 0 0 1em 0;
      position: relative;

      &:before{
         margin: 0 auto;
         position: absolute;
         left: 0;
         right: 0;
         bottom: -.5em;
         width: 100px;
      }
   }

   .titulo__detalle{
      margin-bottom: 2em;
      max-width: 70%;
      margin: 0 auto;

      @media(max-width: 480px){
         max-width: 90%;
      }
   }
}



/* setting del carrousel */
.owl-frases, .owl-testimonios{
   display: inline-block !important;
	position: relative;
	z-index: 1;

   .item{
      padding: .5em .5em 1em .5em;
   }

	.owl-nav {
		display: none;
	}

	.owl-dots {
		display: inline-block !important;
		position: absolute;
		bottom: -40px;
		left: .5em;
		z-index: 3;

		.owl-dot {
			background-color: rgba(0,0,0,.1);
			border: 1px solid rgba(0,0,0,.1);
			border-radius: 50%;
			height: 9px;
			display: inline-block;
			margin: 5px;
			pointer-events: all;
			width: 9px;

			&.active {
				background-color: #874142;
				border: 1px solid #874142;
			}
		}
	}
}




.owl-testimonios{
   .owl-dots {
		right: 0;
      left: 0;
      text-align: center;

		.owl-dot {
			background-color: #D8D8D8;
			border: 1px solid #D8D8D8;

			&.active {
				background-color: #99A7B6;
				border: 1px solid #99A7B6;
			}
		}
	}
}


@media(max-width: 480px){
   .owl-frases{
   	.owl-dots {
   		bottom: -20px;
   	}
   }
}
