.header{
   // borrar background-color: none;
   background-color: rgba(255,255,255,0);
   border-bottom: 1px solid #f2f2f2;
   padding: 1.7em .5em;
   //position: absolute;
   position: fixed;
   width: 100%;
   z-index: 100;

   @media(max-width: 768px){
      position: fixed;
   }

   &__menu{
      display: inline-block;
      margin-right: 2em;
      text-align: right;
      vertical-align: middle;


   }

   &__item{
      display: inline-block;
      margin: 0 1em;
   }

   &__link{
      color: $text-color;
      @include font-size(16);
      @include line-height(19);
      font-weight: 300;
      padding: 0 .3em .5em 0;
      position: relative;
      transition: all .3s ease-out;

      &:before{
         // borrar background-color: $secondary-color;
         background-color: #874142;
         content: '';
         display: inline-block;
         height: 2px;
         position: absolute;
         bottom: 0;
         left: 0;
         transition: all .3s ease-out;
         width: 0;
      }

      &:hover{
         color: #2f3133;
         &:before{
            width: 100%;
         }
      }
   }

   &__link--active{
      color: #2f3133;
      &:before{
         width: 100%;
      }
   }

   .onActive{
      opacity: 1;
      pointer-events: all;
   }

   // Esta clase modificadora, es la que cambia el menú desktop a mobile
   &__menu--mobile{

      @media(max-width: 1100px){
         background-color: #fff;
         display: inline-block;
         height: 100vh;
         opacity: 0;
         overflow: scroll;
         padding: 6em 0 0 0;
         pointer-events: none;
         position: absolute;
         left: 0;
         right: 0;
         top: 0;
         text-align: center;
         transition: all .1s ease-in;
         width: 100%;
         z-index: 5;

         .header__item{
            display: block;
            margin: 3em 0;
         }

         .header__link{
            @include font-size(48);
            @include line-height(48);
         }
      }

      @media(max-width: 768px){
         .header__link{
            @include font-size(30);
         }
      }

      @media(max-width: 768px){
         .header__link{
            @include font-size(20);
            @include line-height(24);
         }
      }


   }



   &__usuario{
      position: relative;
      transition: all .3s ease-out;
      vertical-align: middle;

      @media(max-width: 1100px){
         // display: none;
         right: 80px;
         z-index: 20;
      }

      @media(max-width: 768px){
         right: 70px;
      }

      @media(max-width: 480px){
         right: 45px;
      }
   }

   &__usuario-border{
      border-radius: 50%;
      border: 1px solid rgba(255,255,255,.5);
      display: inline-block;
      height: 60px;
      width: 60px;

      @media(max-width: 480px){
         height: 45px;
         width: 45px;
      }
   }

   &__usuario-foto{
      border-radius: 50%;
      height: 50px;
      margin: 0 auto;
      overflow: hidden;
      position: absolute;
      left: 0;
      right: 0;
      top: 5px;
      width: 50px;

      @media(max-width: 480px){
         top: 3px;
         height: 39px;
         width: 39px;
      }
   }
}



// Icono menú mobile

.burger{
   position: absolute;
   top: 30%;
   right: 3%;
   z-index: 20;
   display: none;

   @media(max-width: 1100px){
      display: inherit;
   }

   &__container {
      background-color: transparent;
      cursor: pointer;
      display: inline-block;
      height: 40px;
      transition: all .3s ease-out;
      width: 40px;
   }

   &__stripe{
      backface-visibility: hidden;
      background: #874142;
      height: 2px;
      margin: 8px auto;
      transition: all 0.3s;
      width: 85%;

      &:nth-child(2){
         position: relative;
         left: -4px;
         width: 60%;
      }
   }

}


.on .burger__stripe--top {
   background-color: #874142;
   transform: rotate(45deg) translate(7px, 7px);
}

.on .burger__stripe--middle {
   opacity: 0;
}

.on .burger__stripe--bottom {
   background-color: #874142;
   transform: rotate(-45deg) translate(7px, -7px);
}
