.que-hacemos{
   padding: 7em 0;

   @media(max-width: 480px){
      padding: 3em 0;
   }
}

.testimonios{
   margin: 0;

   &__avatar{
      border-radius: 50%;
      display: inline-block;
      height: 50px;
      margin-right: 1em;
      overflow: hidden;
      vertical-align: top;
      width: 50px;
   }

   &__text{
      color: $text-color-medium;
      display: inline-block;
      @include font-size(16);
      @include line-height(19);
      font-style: italic;
      vertical-align: top;
      width: 70%;

      @media(max-width: 768px){
         @include font-size(14);
         @include line-height(16);
      }
   }

   &__firma{
      color: $text-color;
      display: block;
      font-style: normal;
      font-weight: 400;
      margin-top: .5em;
   }
}


.video{
   video{
      width: 100%;
      max-width: 840px;

   }

   @media(max-width: 480px){
      margin-top: 4em;
   }
}
