.quienes-somos{
   padding: 7em 0;
   position: relative;
   background-image: url(../img/bg-test.jpg);
   overflow: hidden;

   @media(max-width: 480px){
      padding-bottom: 18em;
      padding-top: 2em;
      margin: 2em 0;
      .titulo:first-child{
         margin-top: 0;
      }
   }
}

.equipo{
   //border-radius: 50%;
   //border: 10px solid #fff;
   height: 780px;
   overflow: hidden;
   position: absolute;
   right: 70px;
   top: 55px;
   width: 500px;
   z-index: 2;

   @media(max-width: 768px){
      height: 500px;
      right: -130px;
      width: 500px;
   }

   @media(max-width: 480px){
      //border: 6px solid #fff;
      height: 350px;
      right: 0;
      left: 0;
      top: 350px;
      width: 350px;
   }
}
