doctype html
head
	meta(charset='utf-8')
	meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width' )
	title sp-consultores
	include templates/head
body
	include templates/header
	include templates/banner
	//include templates/que-hacemos
	include templates/como-funciona
	include templates/quienes-somos
	include templates/beneficios
	//include templates/social
	//include templates/quienes-pueden
	include templates/contacto
	include templates/footer

	
	
